{% extends "base.html" %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<main>

    <div class="container">
        <p class="fs-2 fw-bold pt-4 pb-2 text-center">Lists of My Projects</p>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/shops.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CultureCouture</h5>
        <p class="card-text">CultureCouture is a cutting-edge e-commerce platform dedicated
                  to showcasing the finest and most sophisticated African
                  fashion trends.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, Flask, MongoDB, Redis, PostgreSQL,Docker & Git</small></p>
        <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/hairs.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kinks&Queens</h5>
        <p class="card-text"> Welcome to Kinks&Queens, a blog website dedicated to
                  empowering individuals with African hair by providing valuable
                  insights on hair maintenance and product recommendations.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
</div>

            </div>

<div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/stems.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Elementary Science Adventures</h5>
        <p class="card-text">"Elementary Science Adventures" is an immersive and dynamic educational platform designed to ignite a lifelong curiosity for science among elementary school students. </p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
         </div>
        </div>






<div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/stem.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">African STEM Academy</h5>
        <p class="card-text">"African STEM Academy" is a groundbreaking e-education platform designed to revolutionize learning in Africa by focusing on Science, Technology, Engineering, and Mathematics (STEM) subjects.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
         </div>
        </div>







    </div>

</main>

{% endblock %}