{% extends "base.html" %}

{% block title %}
Projects
{% endblock %}

{% block content %}
<main>

    <div class="container">
        <p class="fs-2 fw-bold pt-4 pb-2 text-center">Lists of My Projects</p>
        <div class="row">
            <div class="col-md-6 text-center">
                <div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/shops.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">CultureCouture</h5>
        <p class="card-text">CultureCouture is a cutting-edge e-commerce platform dedicated
                  to showcasing the finest and most sophisticated African
                  fashion trends.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, Flask, MongoDB, Redis, PostgreSQL,Docker & Git</small></p>
        <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
</div>
            </div>
            <div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/hairs.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Kinks&Queens</h5>
        <p class="card-text"> Welcome to Kinks&Queens, a blog website dedicated to
                  empowering individuals with African hair by providing valuable
                  insights on hair maintenance and product recommendations.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
</div>

            </div>

<div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/stems.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Elementary Science Adventures</h5>
        <p class="card-text">"Elementary Science Adventures" is an immersive and dynamic educational platform designed to ignite a lifelong curiosity for science among elementary school students. </p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
         </div>
        </div>






<div class="col-md-6 text-center">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/stem.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">African STEM Academy</h5>
        <p class="card-text">"African STEM Academy" is a groundbreaking e-education platform designed to revolutionize learning in Africa by focusing on Science, Technology, Engineering, and Mathematics (STEM) subjects.</p>
        <p class="card-text"><small class="text-body-secondary">Technologies: Python, FastAPI, PostgreSQL, Git</small></p>
        <a href="">
         <button type="button" class="btn btn-dark rounded-3">
                  Live Demo
                </button>
            </a>
                <div class="d-flex flex-row pt-4">
                    <p class="px-3">Code Base</p>
                    <a href=""><i class="bi bi-github"></i></a>
                </div>
      </div>
    </div>
  </div>
         </div>
        </div>







    </div>

   <section class="contact text-center" id="contact">
            <div class="d-flex flex-column align-items-center justify-content-center text-center">
                <p class="fs-2 fw-bold">Let's Connect</p>
                <p class="mw-650">I invite you to connect with me and embark on a journey towards crafting transformative solutions together. Your ideas, aspirations, and challenges are the fuel for innovation, and I am eager to collaborate with you to turn them into reality. Whether you have a project in mind, seeking consultation, or simply want to explore possibilities, I'm here to listen, understand, and contribute my expertise.</p>
                <p class="mw-650">Let's bridge the gap between vision and execution, turning dreams into tangible achievements. Reach out to me today, and let's embark on an exciting journey of collaboration, growth, and success. Your next groundbreaking project starts with a simple message or call. Let's make it happen!</p>
                <ul class="d-flex flex-row list-unstyled">
                    <li class="px-3"><i class="bi bi-linkedin"></i></li>
                    <li class="px-3"><i class="bi bi-instagram"></i></li>
                    <li class="px-3"><i class="bi bi-twitter"></i></li>
                    <li class="px-3"><i class="bi bi-github"></i></li>
                </ul>
                <p>write to me on <br> oumamugah@gmail.com</p>
                <p>Call me on <br>+254729221865</p>
            </div>

        </section>

</main>

{% endblock %}